* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a3330;
  font-family: 'Inter', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}